<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="./style.css">
    <title>Document</title>
</head>
<!-- Vue CDN -->
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="./main.js" type="module"></script>

<body>
    <div id="app" class="wrap">
        <transition name="fade">
            <div class="welcome" v-if="page == 1" v-on:click="setPage(2)">
                <img src="./welcome.png" alt="">
            </div>
        </transition>
        <transition name="fade">
            <div class="welcome" v-if="page == 2">
                <img src="./question1.png" alt="">
                <img src="./1-A (裁).png" class="button1" v-on:click="chooseAnswer('A')">
                <img src="./1-B (裁).png" class="button2" v-on:click="chooseAnswer('B')">
            </div>
        </transition>
        <div class="welcome" v-if="page == 3">
            <img src="./question2.png" alt="">
            <img src="./2-A (裁).png" class="button1" v-on:click="chooseAnswer('A')">
            <img src="./2-B (裁).png" class="button2" v-on:click="chooseAnswer('B')">
        </div>
        <div class="welcome" v-if="page == 4">
            <img src="./question3.png" alt="">
            <img src="./3-A (裁).png" class="button1" v-on:click="chooseAnswer('A')">
            <img src="./3-B (裁).png" class="button2" v-on:click="chooseAnswer('B')">
        </div>
        <div class="welcome" v-if="page == 5">
            <img :src="answer" alt="">
        </div>
    </div>
</body>

</html>
